.champions-container {
  background-color: #003366; /* Deep blue background */
  padding: 30px;
  color: #ecf0f1; /* Light grey text for better readability */
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  box-sizing: border-box;
}

.champions-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 35px;
  font-weight: bold;
  color: #f5f6fa;
  font-family: Verdana;
  width: 100%;
}

.champions-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.champions-grid::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.champion-card {
  background: linear-gradient(145deg, #16213e, #0f3460);
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  height: 280px;
  width: 275px;
}

.champion-card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.champion-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.champion-name {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.champion-logo {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-top: 10px;
}

/* Responsive design rules */
@media (max-width: 1024px) {
  .champions-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout for tablets and small screens */
  }
}

@media (max-width: 768px) {
  .champions-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout for medium screens */
  }
}

@media (max-width: 480px) {
  .champions-grid {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
  .champion-card {
    height: 220px; /* Decrease height for small screens */
    width: 100%; /* Adjust width for small screens */
  }
  .champion-logo {
    width: 80px; /* Smaller logo size for small screens */
    height: 80px; /* Smaller logo size for small screens */
  }
  .champion-name {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}
