.fixtures-container {
  padding-bottom: 20px;
  background-color: #003366; /* Dark blue background */
  color: white;
  margin-top: 0.5px;
  overflow-x: hidden; /* Hide the overflow */
  padding-top: 25px;
  padding-bottom: 35px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: Verdana;
  padding-top: 15px;
}

.fixtures {
  display: flex;
  flex-direction: row;
  gap: 30px;
  scroll-behavior: smooth;
  overflow-x: auto; /* Enable horizontal scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin: 0 28px; /* Adjust margin from body */
}

.fixtures::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.fixture {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  scroll-snap-align: start; /* Snap align the elements */
  transition: transform 0.3s ease-in-out;
}
.fixture:hover {
  transform: scale(1.05); 
}

.teams {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.team-logo {
  width: auto;
  height: 50px;
}

.vs {
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  color: #000000;
}

.score {
  font-size: 16px;
  color: #d51916; /* Highlight the score */
  font-weight: bold;
  margin-bottom: 5px;
}

.date-time {
  font-size: 13px;
  color: #000000;
  font-family: Verdana;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .fixtures {
      gap: 15px;
      margin: 0 8px;
  }

  .fixture {
      padding: 8px;
  }

  .team-logo {
      height: 45px;
  }

  .vs {
      font-size: 14px;
  }

  .score {
      font-size: 14px;
  }

  .date-time {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .section-title {
      font-size: 22px;
  }

  .fixtures {
      gap: 10px;
      margin: 0 5px;
  }

  .fixture {
      padding: 5px;
  }

  .team-logo {
      height: 45px;
  }

  .vs {
      font-size: 12px;
  }

  .score {
      font-size: 12px;
  }

  .date-time {
      font-size: 10px;
  }
}
