.cl-fixtures {
  position: relative; /* Allow the filter to be absolutely positioned within */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* FILTER STYLES */
.team-filter {
  position: absolute;
  top: 48px;
  right: 35px;
  display: flex;
  align-items: center;
  background-color: #FFB81C;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10; /* Ensure filter stays above match items */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.team-filter label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 8px;
  font-weight: bold;
  color: #003366;
}
.team-filter select {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #003366; /* Ensure the background is white */
  color: #ffffff; /* Match the text color with the label */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.team-filter select option {
  position: relative;
  z-index: 11; /* Ensure dropdown items are shown below the bar */
}

/* CURRENT MONTH BUTTON */
.current-month-button {
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.current-month-button.hidden {
  opacity: 0;
}
.current-month-button:hover {
  background-color: #0056b3;
}

/* MONTH TITLE */
.cl-month {
  font-size: 1.8em; /* Larger font size for the month */
  color: #FFB81C;
  margin: 5px 0;
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid #fde8e8;
}

/* MATCH ITEM */
.cl-match-item {
  display: flex;
  flex-direction: column; /* Stack information vertically */
  align-items: center;    /* Center align the items */
  padding: 15px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}

/* MATCH INFO: date & round */
.cl-match-info {
  width: 100%; /* Ensure it spans the container */
  display: flex;
  justify-content: space-between; /* Space out date and match day details */
  margin-bottom: 10px;
}
.cl-match-date-time,
.cl-match-day {
  font-size: 1.1em; /* Increased font size for visibility */
  color: #c9c5c5;
}

/* TEAMS & SCORES */
.cl-teams-scores {
  display: flex;
  justify-content: space-between; /* Align elements from side to side */
  align-items: center;
  width: 100%;
  font-size: 1.4em;
}
.cl-team {
  display: flex;
  align-items: center;
}
.cl-team-home {
  justify-content: flex-start; /* Align home team to the left */
  flex: 1;
  color: #ffffff;
  font-weight: bold;
}
.cl-team-away {
  justify-content: flex-end; /* Align away team to the right */
  flex: 1;
  text-align: right; /* Ensure text is aligned to the right */
  color: #ffffff;
  font-weight: bold;
}
.cl-team-logo {
  width: 80px;
  height: 75px;
  margin: 10px;
  object-fit: contain;
  align-items: center;
}
.cl-score-container {
  font-size: 1.1em; /* Larger score font */
  color: #FFB81C;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.3; /* Prevents the score from stretching */
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .cl-fixtures {
    margin: 10px;
    padding: 10px;
  }
  .cl-month {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }
  .cl-match-date-time,
  .cl-match-day {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
  .cl-teams-scores {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
  .cl-team-logo {
    width: 50px; /* Adjust logo size for smaller screens */
  }
  .cl-score-container {
    margin: 0 20px; /* Adjust margin for smaller screens */
  }
  .current-month-button {
    bottom: 10px; /* Adjust position for smaller screens */
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  .team-filter {
    top: 10px;
    right: 10px;
    padding: 4px 8px;
  }

  .team-filter label {
    font-size: 0.5em;
    margin-right: 6px;
  }

  .team-filter select {
    padding: 3px 6px;
    font-size: 0.5em;
  }
}

@media (max-width: 480px) {
  .cl-fixtures {
    margin: 5px;
    padding: 5px;
  }
  .cl-month {
    font-size: 1em; /* Further adjust font size for very small screens */
  }
  .cl-match-date-time,
  .cl-match-day {
    font-size: 0.7em; /* Further adjust font size for very small screens */
  }
  .cl-teams-scores {
    font-size: 0.8em; /* Further adjust font size for very small screens */
  }
  .cl-team-logo {
    width: 40px; /* Further adjust logo size for very small screens */
  }
  .cl-score-container {
    margin: 0 10px; /* Further adjust margin for very small screens */
  }
  .current-month-button {
    bottom: 5px; /* Further adjust position for very small screens */
    padding: 6px 12px; /* Further adjust padding for very small screens */
    font-size: 0.8em; /* Further adjust font size for very small screens */
  }
  .team-filter {
    top: 30px;
    right: 5px;
    padding: 3px 6px;
    height: fit-content;
    width: 220px;
  }

  .team-filter label {
    font-size: 0.7em;
    margin-right: 25px;
  }

  .team-filter select {
    padding: 4px 1px;
    font-size: 0.7em;
  }

}
