/* Importing Bootstrap for overall styling */
@import 'bootstrap/dist/css/bootstrap.min.css';

.app {
  margin-top: auto;  /* Adjust this value to match the actual height of your header */
}

/* Make sure body has no extra top padding that could affect the layout */
body {
  padding-top: 0;
  margin: 0;
}
/* General styles */
html, body {
    height: 100%;
    margin: auto;
    padding-top: 0.4px;
    scroll-behavior: smooth; /* Smooth scroll on anchor links */
}

/* Adds basic box-sizing and border-box to all elements */
*, *::before, *::after {
    box-sizing: border-box;
}