html {
    scroll-behavior: smooth;
}

.top-scorers-container {
    padding: 20px;
    background-color: #003366;
    color: #ecf0f1;
    margin: 1px 0;
    padding-bottom: 35px;
}

.top-scorers-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #f5f6fa;
  padding-bottom: 10px;
}

.scorers-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.scorer-column {
    background: linear-gradient(145deg, #16213e, #0f3460);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 8px 8px 20px #0c223d, -8px -8px 20px #122c54;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.scorer-column:hover {
    transform: translateY(-5px);
    box-shadow: 12px 12px 24px #0c223d, -12px -12px 24px #122c54;
}

.scorer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}

.scorer-photo {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    border: 3px solid #f5f6fa;
}

.scorer-details {
    font-size: 16px;
    color: #ffffff;
}

.scorer-name {
    font-weight: bold;
}

.scorer-goals {
    color: #e84118;
    font-weight: bold;
}

/* Responsive media queries */
@media (max-width: 1200px) {
    .scorer-column {
        width: 18%;
    }
}

@media (max-width: 992px) {
    .scorer-column {
        width: 18%;
    }
}

@media (max-width: 768px) {
    .scorers-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
    }
    .scorer-column {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .top-scorers-title {
        font-size: 20px;
    }
    .scorer-column h3 {
        font-size: 14px;
    }
    .scorer-photo {
        width: 100%;
    }
    .scorer-details {
        font-size: 14px;
    }
}
